<html>
  <head>
    <title>Studio Ghibli Movies</title>
  </head>

  <body>
    <ul>
      {% for movie in movies %}
      <li class="movie">
        <div class="title">
          <a class="title-link" href="{% url 'movies:characters' movie.id %}">{{ movie.title }}</a>
        </div>

        <div class="release-date">
          {{ movie.release_date }}
        </div>

        <div class="description">
          {{ movie.description }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
